<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/common/page.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    {{{body}}}
    <script src="/graph-team/fragments.js"></script>
    <script src="/dashboard/page.js"></script>
  </body>
</html>
