* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.iron-pages {
  width: 100%;
}

.viewport {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.menu-bar {
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 15vw;
  background: #2196F3;
  color: #fff;
}

.menu-bar__item {
  display: -webkit-flex;
  display: flex;
  margin-left: 36px;
  width: calc(100% - 64px);
  border-radius: 2px;
  padding: 12px 16px;
  align-items: center;
  flex-direction: row;
  margin-bottom: 8px;
  transition: all 200ms;
  -webkit-transition: all 200ms;
}

.menu-bar__item:hover {
  background: rgba(0, 0, 0, 0.12);
}

.menu-bar__item-text {
  font-size: 0.9rem;
}

.menu-bar__item > a {
  text-decoration: none;
  color: inherit;
}

.selected {
  background: rgba(0, 0, 0, 0.12);
}

.menu-bar__app {
  display: -webkit-flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.menu-bar__app-name {
  font-size: 1.4rem;
}

.logo {
  font-size: 2rem;
  margin-right: 24px;
}